
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;

}



body {
    justify-content: center;
    max-width: 1400px;
    margin: auto;
    min-height: 100vh; 
    color: #1F1235;
}

nav {
    position: relative;
    top: 0;
    right: 0;
    left: 100%;
    width: 100%;
    margin: auto;
    height: 100vh;
    z-index: 98;
    display: block;
    background-color: #BF4C0C;
    padding-left: 5%;
    padding-top: 120px;
    transition: 0.4s;
    visibility: hidden;
}

.nav-box {
    height: 100px;
    display: flexbox;
}

nav.is-active {
    left: 0;
    visibility: visible;
}

nav a {
    width: fit-content;
    display: block;
    margin-bottom: 16px;
    text-decoration: none;
    color: #fff;
    font-size:1.5rem ;
    font-weight: 400;
    transition: transform 0.4s; 
    position: relative;
}

nav a:hover {
    font-weight: 700;
    font-size: 700;
}

.nav-container {
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #fff;
}

.nav-icon {
    display: inline-block;
    position: relative;
    top: 6px;
    width: 0;
    height: 30px; 
    background: url(../images/rz/icon/hover-icon.svg) no-repeat left center;
    background-size: contain;
    margin-right: 10px;
    transition: width 0.4s; 
}

nav a:hover .nav-icon {
    width: 16px; 
}

nav a:hover span {
    transform: translateX(20px); 
    transition: transform 0.4s; 
}


.logo-frame {
    margin: auto;
    float: left;
    width: auto;
    height: 100%;
    display: flex;
    margin-left: 5%;
}

.logo, .logo1, .logo2 {
    height: 65px;
    margin: auto;
}
.logo-small, .logo3 {
    height: 40px;
}
.logo2, .logo3 {
    width: 0;
}

header {
   /* background-color: blanchedalmond;*/
    height: 100%;
    overflow: hidden;
}


.hamburger-frame {
    height: 100%;
    width: auto;
    float: right;
    display: flex;
    margin-right: 5%;
}

.hamburger {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    margin: auto;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 99;
}

.hamburger .bar, .hamburger::after, .hamburger::before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #BF4C0C;
    margin: 6px 0px;
    transition: 0.4s;
    border-radius: 20px;
}

.hamburger.is-active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
    background-color: #fff;
}

.hamburger.is-active .bar {
    opacity: 0;
}

.hamburger.is-active::after {
    transform: rotate(45deg) translate(-9px, -8px);
    background-color: #fff;
}

/*header images rotation*/
.header-img {
    /*background: url(/images/Frame\ 21.png);*/
    width: 100%;
    height: auto;
}

.header-img2 {
    /*background: url(/images/Frame\ 21.png);*/
    display: none;
    width: 100%;
    height: auto;
}
.header-img3 {
    /*background: url(/images/Frame\ 21.png);*/
    display: none;
    width: 100%;
    height: auto;
}
.header-img4 {
    /*background: url(/images/Frame\ 21.png);*/
    display: none;
    width: 100%;
    height: auto;
}

.imp-buffer {
    height: 556px; 
}


footer {
    width: 100%;
    overflow: auto;
    padding: 5%;
    background-color: #BF4C0C;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 1vw;
    line-height: 1.5rem;
}

.footer-container {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.footer-frame {
    width: 20%;
    float: left;
    position: relative;
    box-sizing: border-box;
    margin: auto;
    
}

.footer-link {
    text-decoration: none;
    color: inherit;
}

.footer-link:hover {
    font-weight: 600;
    font-size: 1.5rem;
}

h1 {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 800;
    font-size: 4.25rem;
    line-height: 4.25rem;
    position: absolute;
    z-index: 2;
    margin-left: 5%;
    margin-top: 250px;
}

.h1-sec {
    margin-top: 350px;
}





h2 {
    font-family: "Inter", sans-serif;
    font-weight: 600;   
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin-bottom: 26px;
}

h3 {
    font-family: "Inter", sans-serif;
    font-weight: 600;   
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin-bottom: 3vh;
    width: 100%;
}

/*------Collage------*/
.container {
    position: relative;
    width: 100%;
    height: 550px;
    /*background-color: #222;*/
}

.container .clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container .clip.clip1 {
    /*background-color: red;*/
    background: url(../images/rz/header/collage-frame1.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: left;
    clip-path: polygon(0 0, 40% 0, 29% 100%, 0% 100%); 
}

.container .clip.clip2 {
    /*background-color: blue;*/
    background: url(../images/rz/header/collage-frame2.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    clip-path: polygon(40% 0, 76% 0, 65% 100%, 29% 100%);
}
.container .clip.clip3 {
    /*background-color: green;*/
    background: url(../images/rz/header/collage-frame3.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: right;
    clip-path: polygon(76% 0, 100% 0, 100% 100%, 65% 100%);
}

.container .clip.clip-devide1 {
    background-color: #FDE5D9;
    z-index: 1;
    clip-path: polygon(39.5% 0, 40.5% 0, 29.5% 100%, 28.5% 100%); 
}
.container .clip.clip-devide2 {
    background-color: #FDE5D9;
    z-index: 1;
    clip-path: polygon(75.5% 0, 76.5% 0, 65.5% 100%, 64.5% 100%); 
}

/*------Slider der kleinen Viewports ausblenden------*/
.slider-frame {
    display: none;
}

.slider-frame-mobile {
    display: none;
}

/*-----normale Headerbilder------*/
.container-norm {
    position: relative;
    width: 100%;
    height: 550px;
}


/*-----Contentblock abschnitt------*/
.content-block {
    padding: 5%;
    margin: 0;
    overflow: auto;
}


.text-block {
    width: 50%;
    float: left;
    padding-right: 25px;
    display: block;
}

.text-block-wide {
    width: 100%;
    margin-bottom: 20px;
}

.text-block p{
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 20px;
}

.img-block {
    float: right;
    width: 50%;
    height: auto;
    padding-left: 25px;
}

.content-img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.content-block-devide {
    margin: 0 5% 0 5%;
}

.devider-block {
    width: 60%;
    padding: 3% 5% 3% 3%;
    background-color: #FDE5D9;
    border-radius: 10px;
}

/*-----Teaser abschnitt------*/
.teaser {
    overflow: auto;
    position: relative;
    background-color: #FDE5D9;
    height: auto;
    padding: 3vh 5% 5vh 5%;
}
/*Teaser abschnitt allgemeiner container*/
.teaser-container {
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
/*Teaser abschnitt bilder navi*/
.teaser-img-frame  {
    width: 20%;
    float: left;
    position: relative;
    box-sizing: border-box;
}

.teaser-img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.teaser-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 1.7vw;
    font-weight: 600;
    pointer-events: none;
}

.teaser-link {
    display: block;
    text-decoration: none;
    color: inherit;
    position: relative;
}

/*Teaser abschnitt text element*/
.teaser-text-frame{
    background-color: #BF4C0C;
    padding: 15px;
    margin-top: 0;
    width: 20%;
    border-radius: 10px;
    color: #fff;
    overflow-wrap: break-word;
}

.teaser-text-headline {
    font-size: 1.25rem;
    width: 100%;
    margin: auto;
    
}
.teaser-text-content {
    font-size: 1rem;
    width: 100%;
    margin: auto;
}

.teaser-text-content p {
    margin-bottom: 5%;
}
.teaser-text-headline p {
    margin-bottom: 25px;
    font-weight: 400;
}

.teaser-subtext {
    margin-top: 3%;
}

.content-block-map {
    width: 100%;
    display: flex;
    padding: 5%;
    justify-content: space-between;
}

.map-frame {
    width: 65%;
    border-radius: 10px;
    height: 100%;
    overflow: auto;
    float: left;
    display: block;
    position: relative;
    margin-right: 25px;
}

.map {
    max-height: 100%;
    overflow-y: hidden;
}

.map img {
    display: block;
    width: 100%;
    height: auto;
}

.overlayframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    pointer-events: none; /* Ensure the overlays do not interfere with interaction */
}

.overlay-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Ensure the overlays do not interfere with interaction */
}

.overlay-map1, .overlay-map2, .overlay-map3, .overlay-map4 {
    visibility: hidden;

}

.overlay-map img {
    display: block;
    width: 100%;
    height: auto;

}

.is-active-map {
    visibility: visible;
}

.legende-frame {
    background-color: #FDE5D9;
    float: right;
    border-radius: 10px;
    width: 40%;
    padding: 20px;
    height: 575px; /* Fixed height for the parent container */
    overflow: hidden;
}

.legende-element {
    display: flex;
    flex-direction: column;
    height: 100%;

}

.legende-element > div {
    flex: 1;
    overflow: hidden;
    transition: flex 0.5s ease, height 0.5s ease;
}

.legende-text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.legende-text-block h2 {
    cursor: pointer;
    width: 100%;
    padding-right: 20%;
}

.legende-text-block p {
    display: none;
    width: 100%;
    margin-top: 10px;
}

.devider {
    width: 100%;
    height: 2px;
    max-height: 2px;
    background-color: #BF4C0C;
    margin: 0;
    border-radius: 10px;
}

.legende-text-block p span {
    display: inline-block;
    height: 30px;
}

.map-mobile-block {
    display: none;
}

.hor-legende-container {
    width: 100%;
    padding: 0 5% 5% 5%;
}

.hor-legende-frame{
    display: flex;
    background-color: #FDE5D9;
    width: 100%;
    height: auto;
    justify-content: space-between;
    border-radius: 10px;

}

.hor-legende-element {
    display: flex;
    padding: 10px;
}

.hor-legende-img-container {
    height: 100%;
    display: flex;
}

.hor-legende-img-frame {
    margin: auto 10px auto 0;
        border-style: solid;
    border-color: #BF4C0C;
    border-width: 2px;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    display: flex;
}

.hor-legende-img-frame img {
    margin: auto;
    width: 30px;
    height: auto;
    
}

.hor-legende-text-container {
    display: flex;
}

.hor-legende-text-container p {
    margin: auto;
}




/* On screens that are 992px or less    577px - 992px*/
@media screen and (max-width: 992px) {

    .logo2 {
        width: unset;
    }

    .logo1, .logo3 {
        width: 0;
    }

    header {
        height: 495px;
    }

    /*header images rotation*/
    .header-img {
        display: none;
    }
    
    .header-img2 {
        display: unset;
    }
    .header-img3 {
        display: none;
    }
    .header-img4 {
        display: none;
    }

    .imp-buffer {
        height: 495px; 
    }

    footer {
        line-height: 1.25rem;
        font-size: 1.5vw;
    }

    h1 {
        margin-top: 225px;
    }

    .h1-sec {
        margin-top: 325px;
    }

    /*------Collage für Mainseite------*/
    .container {
        height: 495px;
    }
    
    .container .clip.clip1 {
        /*background-color: red;*/
        background: url(../images/rz/header/collage-small-frame1.png);
        background-repeat: no-repeat;
        background-size:contain;
        background-position: left;
        clip-path: polygon(0 0, 40% 0, 25% 100%, 0% 100%); 
    }
    
    .container .clip.clip2 {
        /*background-color: blue;*/
        background: url(../images/rz/header/collage-small-frame2.png);
        background-repeat: no-repeat;
        background-size:contain;
        background-position: center;
        clip-path: polygon(40% 0, 76% 0, 61% 100%, 25% 100%);
    }
    .container .clip.clip3 {
        /*background-color: green;*/
        clip-path: polygon(76% 0, 100% 0, 100% 100%, 61% 100%);
    }

    /*------Trennstriche der Collage------*/
    .container .clip.clip-devide1 {
        background-color: #FDE5D9;
        z-index: 1;
        clip-path: polygon(39.5% 0, 40.5% 0, 25.5% 100%, 24.5% 100%); 
    }

    .container .clip.clip-devide2 {
        background-color: #FDE5D9;
        z-index: 1;
        clip-path: polygon(75.5% 0, 76.5% 0, 61.5% 100%, 60.5% 100%); 
    }

    .teaser-text-frame{
        width: 48%;
        margin-bottom: 30px; 
    }

    .map-frame {
        width: 60%;
    }

    .legende-frame {
        height:395px; /* Fixed height for the parent container */
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .legende-text-block h2 {
        padding-right: 0;
        width: 100%;
        font-size: 1rem;
        margin-bottom: 0px;

    }
    .legende-text-block p {
        font-size: 0.8rem;
    }

    .legende-text-block p span {
        height: 20px;
    }
   
}


/* On screens that are 576px or less  430 - 576px*/
@media screen and (max-width: 576px) {

    .logo3 {
        width: unset;
    }

    .logo1, .logo2 {
        width: 0;
    }

    /*------dissable horizontal scroll------*/
    html, body {
        max-width: 100%;
        overflow-x: hidden;
       /* background-color: red;*/
    }

    header {
        height: 355px;
    }

    /*header images rotation*/
    .header-img {
        display: none;
    }
    .header-img2 {
        display: none;
    }
    .header-img3 {
        display: unset;
    }
    .header-img4 {
        display: none;
    }

    .imp-buffer {
        height: 355px; 
    }

    footer {
        font-size: 1rem;
    }

    .footer-frame {
        width: 50%;
        margin-bottom: 2vh;
    }

    .footer-link:hover {
        font-size: 1rem;
    }

    /*------hide collage------*/
    .container {
        display: none;
    }

    @-webkit-keyframes slide_animation {
        0% {left:0px;}
        10% {left:0px;}
        20% {left:576px;}
        30% {left:576px;}
        40% {left:1152px;}
        50% {left:1152px;}
        60% {left:576px;}
        70% {left:576px;}
        80% {left:576px;}
        90% {left:0px;}
        100% {left:0px;}
    }

    .slider-frame {
        overflow: hidden;
        height: 355px;
        max-width: 576px;
        display: initial;
    }

    .slide-images {
        width: 1728px;
        height: 355px;
        margin: 0 0 0 -1152px;
        position: relative;
        -webkit-animation-name: slide_animation;
        -webkit-animation-duration: 18s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
        -webkit-animation-play-state: running;
    }

    .img-container {
        height: 355px;
        width: 576px;
        position: relative;
        float: left;
    }

    h1 {
        font-size: 3rem;
        line-height: 3rem;
        margin-top: 175px;
    }

    .h1-sec {
        margin-top: 250px;
    }


    h2 {
        margin-bottom: 5%;
    }


    .slider-frame-mobile {
        display: none;
    }

    .text-block {
        width: 75%;
        margin-top: 5%;
    }

    .devider-block {
        width: 100%;
    }

    .img-block {
        display: none;
    }
    
    .teaser-img-frame {
        width: 48%;
        float: left;
        margin-bottom: 5%;
    }

    .teaser-text {
        font-size: 5vw;
    }

    .content-block-map {
        display: none;
    }

    .map-mobile-block {
        display: unset;
    }


    .map-mobile-frame {
        width: 100%;
        padding: 5%;
        height: auto;

    }

    .map-mobile-container {
        overflow: hidden;
        border-radius: 10px;
    }

    .map-mobile {
        height: 100%;
        width: auto;
        overflow: auto;
    }

    .map-mobile-phone {
        width: 100%;
        display: none;
    }

    .legende-frame-mobile {
        width: 100%;
        padding: 5%;
        margin-bottom: 50px;
    }

    .legende-element-mobile {
        background-color: #FDE5D9;
        padding: 20px;
        border-radius: 10px;
        justify-content: space-between;
        display: flex;
    }

    .legende-text-block-mobile {
        width: 50%;
        margin: 0 auto 0 auto;
    }

    .legende-text-block-mobile p span {
        height: 10px;
        display: block;
    }

    .hor-legende-frame{
        padding: 20px 10px 20px 10px;
    }


    
}
/* On screens that are 576px or less  0 - 430px*/
@media screen and (max-width: 430px) {
    body {
        /*background-color: violet;*/
        max-width: 430px;
    }

    header {
        height: 495px;
    }

    .header-img {
        /*background: url(/images/Frame\ 21.png);*/
        display: none;
    }

    .header-img2 {
        /*background: url(/images/Frame\ 21.png);*/
        display: none;
    }
    .header-img3 {
        /*background: url(/images/Frame\ 21.png);*/
        display: none;
    }
    .header-img4 {
        /*background: url(/images/Frame\ 21.png);*/
        display: unset;
    }

    .imp-buffer {
        height: 495px; 
    }

    .footer-link:hover {
        font-weight: 400;
    }

    .slider-frame {
        display: none;
    }
    
    @-webkit-keyframes slide_animation_mobile {
        0% {left:0px;}
        10% {left:0px;}
        20% {left:430px;}
        30% {left:430px;}
        40% {left:860px;}
        50% {left:860px;}
        60% {left:430px;}
        70% {left:430px;}
        80% {left:430px;}
        90% {left:0px;}
        100% {left:0px;}
    }

    .slider-frame-mobile {
        overflow: hidden;
        height: 475px;
        max-width: 430px;
        display: initial;
    }

    .slide-images-mobile {
        width: 1690px;
        height: 475px;
        margin: 0 0 0 -860px;
        position: relative;
        -webkit-animation-name: slide_animation_mobile;
        -webkit-animation-duration: 18s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
        -webkit-animation-play-state: running;
    }

    .img-container-mobile {
        height: 475px;
        width: 430px;
        position: relative;
        float: left;
    }

    h1 {
        font-size: 2.5rem;
        line-height: 2.5rem;
        margin-top: 275px;
    }

    .h1-sec {
        margin-top: 375px;
    }

    
    

    .img-block {
        display: none;
    }

    .text-block {
        width: 100%;
    }



    .teaser-img-frame {
        width: 90%;
        margin: auto;
        margin-bottom: 5%;
    }

    .teaser-text-frame{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }


    .teaser-text {
        font-size: 8vw;
    }

    .legende-element-mobile {
        display: block;
    }
    
    .legende-text-block-mobile {
        width: 80%;
        margin-bottom: 30px;
        margin-left: 0;

    }

    .map-mobile {
        display: none;
    }

    .map-mobile-phone {
        display: unset;
    }
    
    .hor-legende-frame {
        width: 100%;
        display: block;
    }

    .hor-legende-element {
        display: inline-flex;
        width: 100%;
    }


}